<h1>Edit article</h1>
<%= form_for(@articles) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :house %>
  <%= f.text_field :house %>
  <%= f.submit %>
<% end %>

